<div class="container">
    <hr />
    <form method="POST">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <label for="depositAmount">Enter amount you want to deposit:</label>
                <input name="depositAmount" class="form-control" type="number" ng-model="depositAmount">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <button class="btn btn-success" ng-click="deposit()">Deposit</button>
            </div>
        </div>
    </form>
</div>
