<div class="container">
    <hr />
    <form method="POST">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <label for="withdrawAmount">Enter amount you want to withdraw:</label>
                <input name="withdrawAmount" class="form-control" type="number" ng-model="withdrawAmount">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <button class="btn btn-primary" ng-click="withdraw()">Withdraw</button>
            </div>
        </div>
    </form>
</div>
